@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


body {
    background-image: linear-gradient(to right, #403f44, #1e1b32);
    width: 100%;
    color: white;
    text-align: center;
}

.menu-principal {
    width: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}

.menu-direita {
    display: flex;
    gap: 50px;
    padding-right: 200px;
}
.menu-esquerda {
    display: flex;
    gap: 50px;
    padding-left: 200px;
}

.sobre-mim {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

.foto-perfil {
    margin-right: 20px;
}

.foto-perfil img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: #1e1b32 0px 0px 10px;
}

.conteudo {
    text-align: left;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
}

.boas-vindas {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contatos {
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: center;
    position: relative; 
    bottom: 0; 
    left: 0px; 
    right: 0px;
    outline: 1px solid #444;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.habilidades{
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #403f44;

}
.tecnologias {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: row;
    padding-top: 30px;
}

.titulo-habilidades {
    margin-bottom: 20px;
}

.experiencia {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.experiencia-conteudo {
    margin-top: 20px;
}

.experiencia-menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.experiencia-diploma {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: #403f44;
    padding: 20px;
    border-radius: 5px;
}

.experiencia-diploma-texto {
    margin-top: 20px;
    text-align: justify;
}

.experiencia-futuro {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: #403f44;
    padding: 20px;
    border-radius: 5px;
}

.experiencia-futuro-texto {
    margin-top: 20px;
    text-align: justify;
}

.experiencia-projetos {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: justify;
    background-color: #403f44;
    padding: 20px;
    border-radius: 5px;
}

.experiencia-projetos-texto {
    margin-top: 20px;
    text-align: justify;
    
}  
/* Celulares */
@media (max-width: 480px) {
    .menu-principal {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .menu-direita, .menu-esquerda {
        padding: 0;
        gap: 40px;
    }

    .sobre-mim {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .foto-perfil img {
        width: 150px;
        height: 150px;
    }

    .descricao {
        font-size: 15px;
    }

    .tecnologias {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
    }

    .experiencia-menu {
        flex-direction: column;
        gap: 20px;
    }

    .contatos {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        color: #1e1b32;
        background-color: white;
        align-items: center;
    }
}